html {
  background-color: #ddd;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body, body * {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}