$tabs-underline-color: #000 !default;
$tabs-text-color: #000 !default;
$tabs-bg-color: #eee !default;

.clothing_selector {
  position: relative;
  z-index: 10;
  margin-top: 30px;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  background-color: $tabs-bg-color;
  white-space: nowrap;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;

  &.tabs-transparent {
    background-color: transparent;

    .tab a,
    .tab.disabled a,
    .tab.disabled a:hover {
      color: rgba(255,255,255,0.7);
    }

    .tab a:hover,
    .tab a.active {
      color: #fff;
    }

    .indicator {
      background-color: #eee;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      flex-grow: 1;
    }
  }

  .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    a {
      
      font-weight: 600;

      &:hover,
      &:hover.active {
        background-color: transparentize($tabs-underline-color, .8);
        outline: none;
      }

      &:focus,
      &.active {
        background-color: transparent;
        color: $tabs-text-color;
      }

      color: rgba($tabs-text-color, .7);
      display: block;
      height: 100%;
      padding: 0 24px;
      font-size: 14px;
      text-overflow: ellipsis;
      text-decoration: none;
      overflow: hidden;
      transition: color .28s ease, background-color .28s ease;
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba($tabs-text-color, .4);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tabs-underline-color;
    will-change: left, right;
  }
}

.tabcontent {
  background-color: #eee;
  border-radius: 0 0 5px 5px;

  * {
      margin: 0 auto;
  }
}

.clothing-items {
  display: flex;
  justify-content: start;
  overflow-y: auto;
  align-items: center;
}

.clothing-item {
  display: inline-block;
  padding: 10px;
  flex: 0 0 20%;

  &:not(:first) {
      margin-left: 30px;
  }

  &:not(:last-child) {
      margin-right: 30px;
  }

  & button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  & img {
      max-width: 200px;
      max-height: 300px;
  }
}