$tabs-underline-color: #000 !default;
$tabs-text-color: #000 !default;
$tabs-bg-color: #eee !default;

.clothing_selector {
  position: relative;
  z-index: 10;
  margin-top: 30px;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  background-color: $tabs-bg-color;
  white-space: nowrap;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;

  &.tabs-transparent {
    background-color: transparent;

    .indicator {
      background-color: #eee;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      flex-grow: 1;
    }
  }

  .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tabs-underline-color;
    will-change: left, right;
  }
}

.clothing-items {
  display: flex;
  justify-content: start;
  overflow-y: auto;
  align-items: center;
}