.character_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character_form img {
  margin: 30px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .characters {
    overflow: hidden;
  }
  
  .character_form img {
    width: 370px;
  }
}

.checkbox-class {
  display: none;
}
