/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #ddd;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.bg {
  padding: 10px;
}

body, body * {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header {
  padding-top: 15px;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header, h3 {
  text-align: center;
}

.header .character-form select {
  margin: 15px 0;
  height: 40px;
  border: 1px solid #333;
  border-radius: 5px;
}

.header .character-form input[type="submit"] {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  background-color: #910000;
  color: #fff;
  font-weight: 600;
}

.character_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character_form img {
  margin: 30px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .characters {
    overflow: hidden;
  }
  
  .character_form img {
    width: 370px;
  }
}

.checkbox-class {
  display: none;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tabcontent {
  display: none;
  border: 1px solid #aaa;
  border-top: none;
}

.tabcontent.active {
  display: block;
}
