.tabPicker {
  padding: 10px;
}

.button-group {
  display: flex;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  overflow-x: auto;
  justify-content: center;
}

.tab-contents {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
}

.tab-contents * {
  margin: 0 auto;
}

.content {
  display: none;
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.content.active {
  display: block;
}

